@font-face {
  font-family: 'MobiriseIcons';
  src:  url('mobirise-icons.eot?spat4u');
  src:  url('mobirise-icons.eot?spat4u#iefix') format('embedded-opentype'),
    url('mobirise-icons.ttf?spat4u') format('truetype'),
    url('mobirise-icons.woff?spat4u') format('woff'),
    url('mobirise-icons.svg?spat4u#MobiriseIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bbsi-"], [class*=" bbsi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: MobiriseIcons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bbsi-add-submenu:before {
  content: "\e900";
}
.bbsi-alert:before {
  content: "\e901";
}
.bbsi-align-center:before {
  content: "\e902";
}
.bbsi-align-justify:before {
  content: "\e903";
}
.bbsi-align-left:before {
  content: "\e904";
}
.bbsi-align-right:before {
  content: "\e905";
}
.bbsi-android:before {
  content: "\e906";
}
.bbsi-apple:before {
  content: "\e907";
}
.bbsi-arrow-down:before {
  content: "\e908";
}
.bbsi-arrow-next:before {
  content: "\e909";
}
.bbsi-arrow-prev:before {
  content: "\e90a";
}
.bbsi-arrow-up:before {
  content: "\e90b";
}
.bbsi-bold:before {
  content: "\e90c";
}
.bbsi-bookmark:before {
  content: "\e90d";
}
.bbsi-bootstrap:before {
  content: "\e90e";
}
.bbsi-briefcase:before {
  content: "\e90f";
}
.bbsi-browse:before {
  content: "\e910";
}
.bbsi-bulleted-list:before {
  content: "\e911";
}
.bbsi-calendar:before {
  content: "\e912";
}
.bbsi-camera:before {
  content: "\e913";
}
.bbsi-cart-add:before {
  content: "\e914";
}
.bbsi-cart-full:before {
  content: "\e915";
}
.bbsi-cash:before {
  content: "\e916";
}
.bbsi-change-style:before {
  content: "\e917";
}
.bbsi-chat:before {
  content: "\e918";
}
.bbsi-clock:before {
  content: "\e919";
}
.bbsi-close:before {
  content: "\e91a";
}
.bbsi-cloud:before {
  content: "\e91b";
}
.bbsi-code:before {
  content: "\e91c";
}
.bbsi-contact-form:before {
  content: "\e91d";
}
.bbsi-credit-card:before {
  content: "\e91e";
}
.bbsi-cursor-click:before {
  content: "\e91f";
}
.bbsi-cust-feedback:before {
  content: "\e920";
}
.bbsi-database:before {
  content: "\e921";
}
.bbsi-delivery:before {
  content: "\e922";
}
.bbsi-desktop:before {
  content: "\e923";
}
.bbsi-devices:before {
  content: "\e924";
}
.bbsi-down:before {
  content: "\e925";
}
.bbsi-download:before {
  content: "\e989";
}
.bbsi-drag-n-drop:before {
  content: "\e927";
}
.bbsi-drag-n-drop2:before {
  content: "\e928";
}
.bbsi-edit:before {
  content: "\e929";
}
.bbsi-edit2:before {
  content: "\e92a";
}
.bbsi-error:before {
  content: "\e92b";
}
.bbsi-extension:before {
  content: "\e92c";
}
.bbsi-features:before {
  content: "\e92d";
}
.bbsi-file:before {
  content: "\e92e";
}
.bbsi-flag:before {
  content: "\e92f";
}
.bbsi-folder:before {
  content: "\e930";
}
.bbsi-gift:before {
  content: "\e931";
}
.bbsi-github:before {
  content: "\e932";
}
.bbsi-globe:before {
  content: "\e933";
}
.bbsi-globe-2:before {
  content: "\e934";
}
.bbsi-growing-chart:before {
  content: "\e935";
}
.bbsi-hearth:before {
  content: "\e936";
}
.bbsi-help:before {
  content: "\e937";
}
.bbsi-home:before {
  content: "\e938";
}
.bbsi-hot-cup:before {
  content: "\e939";
}
.bbsi-idea:before {
  content: "\e93a";
}
.bbsi-image-gallery:before {
  content: "\e93b";
}
.bbsi-image-slider:before {
  content: "\e93c";
}
.bbsi-info:before {
  content: "\e93d";
}
.bbsi-italic:before {
  content: "\e93e";
}
.bbsi-key:before {
  content: "\e93f";
}
.bbsi-laptop:before {
  content: "\e940";
}
.bbsi-layers:before {
  content: "\e941";
}
.bbsi-left-right:before {
  content: "\e942";
}
.bbsi-left:before {
  content: "\e943";
}
.bbsi-letter:before {
  content: "\e944";
}
.bbsi-like:before {
  content: "\e945";
}
.bbsi-link:before {
  content: "\e946";
}
.bbsi-lock:before {
  content: "\e947";
}
.bbsi-login:before {
  content: "\e948";
}
.bbsi-logout:before {
  content: "\e949";
}
.bbsi-magic-stick:before {
  content: "\e94a";
}
.bbsi-map-pin:before {
  content: "\e94b";
}
.bbsi-menu:before {
  content: "\e94c";
}
.bbsi-mobile:before {
  content: "\e94d";
}
.bbsi-mobile2:before {
  content: "\e94e";
}
.bbsi-mobirise:before {
  content: "\e94f";
}
.bbsi-more-horizontal:before {
  content: "\e950";
}
.bbsi-more-vertical:before {
  content: "\e951";
}
.bbsi-music:before {
  content: "\e952";
}
.bbsi-new-file:before {
  content: "\e953";
}
.bbsi-numbered-list:before {
  content: "\e954";
}
.bbsi-opened-folder:before {
  content: "\e955";
}
.bbsi-pages:before {
  content: "\e956";
}
.bbsi-paper-plane:before {
  content: "\e957";
}
.bbsi-paperclip:before {
  content: "\e958";
}
.bbsi-photo:before {
  content: "\e959";
}
.bbsi-photos:before {
  content: "\e95a";
}
.bbsi-pin:before {
  content: "\e95b";
}
.bbsi-play:before {
  content: "\e95c";
}
.bbsi-plus:before {
  content: "\e95d";
}
.bbsi-preview:before {
  content: "\e95e";
}
.bbsi-print:before {
  content: "\e95f";
}
.bbsi-protect:before {
  content: "\e960";
}
.bbsi-question:before {
  content: "\e961";
}
.bbsi-quote-left:before {
  content: "\e962";
}
.bbsi-quote-right:before {
  content: "\e963";
}
.bbsi-refresh:before {
  content: "\e964";
}
.bbsi-responsive:before {
  content: "\e965";
}
.bbsi-right:before {
  content: "\e966";
}
.bbsi-rocket:before {
  content: "\e967";
}
.bbsi-sad-face:before {
  content: "\e968";
}
.bbsi-sale:before {
  content: "\e969";
}
.bbsi-save:before {
  content: "\e96a";
}
.bbsi-search:before {
  content: "\e96b";
}
.bbsi-setting:before {
  content: "\e96c";
}
.bbsi-setting2:before {
  content: "\e96d";
}
.bbsi-setting3:before {
  content: "\e96e";
}
.bbsi-share:before {
  content: "\e96f";
}
.bbsi-shopping-bag:before {
  content: "\e970";
}
.bbsi-shopping-basket:before {
  content: "\e971";
}
.bbsi-shopping-cart:before {
  content: "\e972";
}
.bbsi-sites:before {
  content: "\e973";
}
.bbsi-smile-face:before {
  content: "\e974";
}
.bbsi-speed:before {
  content: "\e975";
}
.bbsi-star:before {
  content: "\e976";
}
.bbsi-success:before {
  content: "\e977";
}
.bbsi-sun:before {
  content: "\e978";
}
.bbsi-sun2:before {
  content: "\e979";
}
.bbsi-tablet:before {
  content: "\e97a";
}
.bbsi-tablet-vertical:before {
  content: "\e97b";
}
.bbsi-target:before {
  content: "\e97c";
}
.bbsi-timer:before {
  content: "\e97d";
}
.bbsi-to-ftp:before {
  content: "\e97e";
}
.bbsi-to-local-drive:before {
  content: "\e97f";
}
.bbsi-touch-swipe:before {
  content: "\e980";
}
.bbsi-touch:before {
  content: "\e981";
}
.bbsi-trash:before {
  content: "\e982";
}
.bbsi-underline:before {
  content: "\e983";
}
.bbsi-unlink:before {
  content: "\e984";
}
.bbsi-unlock:before {
  content: "\e985";
}
.bbsi-up-down:before {
  content: "\e986";
}
.bbsi-up:before {
  content: "\e987";
}
.bbsi-update:before {
  content: "\e988";
}
.bbsi-upload:before {
 content: "\e926"; 
}
.bbsi-user:before {
  content: "\e98a";
}
.bbsi-user2:before {
  content: "\e98b";
}
.bbsi-users:before {
  content: "\e98c";
}
.bbsi-video:before {
  content: "\e98d";
}
.bbsi-video-play:before {
  content: "\e98e";
}
.bbsi-watch:before {
  content: "\e98f";
}
.bbsi-website-theme:before {
  content: "\e990";
}
.bbsi-wifi:before {
  content: "\e991";
}
.bbsi-windows:before {
  content: "\e992";
}
.bbsi-zoom-out:before {
  content: "\e993";
}
.bbsi-redo:before {
  content: "\e994";
}
.bbsi-undo:before {
  content: "\e995";
}
